In [1]:
import torch
import pandas as pd
from tqdm import tqdm

from cleanlab import Datalab
from cleanlab.filter import find_label_issues

In [2]:
output = pd.read_csv('../output.csv')
dataset_train = pd.read_csv('../data/train.csv')

In [3]:
output = pd.read_csv('../output.csv')
probs_list = []

for idx, sample in tqdm(output.iterrows()):
    l = [float(x) for x in sample['prob'][1:-1].split(' ') if x != '']
    probs_list.append(l)  

probs_tensor = torch.Tensor(probs_list)
print(probs_tensor.shape)

0it [00:00, ?it/s]

7000it [00:00, 16070.91it/s]

torch.Size([7000, 7])

In [4]:
lab = Datalab(data=dataset_train, label_name="target")
lab.find_issues(pred_probs=probs_tensor.numpy())

lab.report()
lab.get_issues()

Finding label issues ...
Finding outlier issues ...
Fitting OOD estimator based on provided pred_probs ...

Audit complete. 422 issues found in the dataset.
Here is a summary of the different kinds of issues found in the data:

issue_type  num_issues
     label         421
   outlier           1

Dataset Information: num_examples: 7000, num_classes: 7


----------------------- label issues -----------------------

About this issue:
	Examples whose given label is estimated to be potentially incorrect
    (e.g. due to annotation error) are flagged as having label issues.


Number of examples with this issue: 421
Overall dataset quality in terms of this issue: 0.9399

Examples representing most severe instances of this issue:
      is_label_issue  label_score  given_label  predicted_label
2365            True     0.000194            3                6
6566            True     0.000284            5                6
4114            True     0.000300            5                6
5418            True     0.000395            3                0
4131            True     0.000420            1                3


---------------------- outlier issues ----------------------

About this issue:
	Examples that are very different from the rest of the dataset
    (i.e. potentially out-of-distribution or rare/anomalous instances).


Number of examples with this issue: 1
Overall dataset quality in terms of this issue: 0.5109

Examples representing most severe instances of this issue:
      is_outlier_issue  outlier_score
4738              True       0.060442
5424             False       0.067943
4562             False       0.072463
1458             False       0.077479
1964             False       0.079035

      is_label_issue  label_score  is_outlier_issue  outlier_score
0              False     0.991064             False       0.559238
1              False     0.985234             False       0.510872
2              False     0.994969             False       0.520411
3              False     0.996170             False       0.523860
4              False     0.996232             False       0.537156
...              ...          ...               ...            ...
6995           False     0.992006             False       0.455659
6996           False     0.996170             False       0.500268
6997           False     0.996557             False       0.500970
6998           False     0.997261             False       0.501374
6999           False     0.995172             False       0.522965

[7000 rows x 4 columns]

In [5]:
from cleanlab.dataset import health_summary
class_names=[0,1,2,3,4,5,6]
health_summary(dataset_train['target'], probs_tensor.numpy(), class_names=class_names)

----------------------------------------------------------
|  Generating a Cleanlab Dataset Health Summary          |
|   for your dataset with 7,000 examples and 7 classes.  |
|  Note, Cleanlab is not a medical doctor... yet.        |
----------------------------------------------------------

Overall Class Quality and Noise across your dataset (below)
------------------------------------------------------------

,Class Name,Class Index,Label Issues,Inverse Label Issues,Label Noise,Inverse Label Noise,Label Quality Score
0,2,2,111,61,0.111,0.064211,0.889
1,1,1,80,67,0.080,0.067882,0.920
2,4,4,71,41,0.071,0.042268,0.929
3,0,0,52,95,0.052,0.091083,0.948
4,3,3,47,52,0.047,0.051741,0.953
5,6,6,40,53,0.040,0.052320,0.960
6,5,5,20,52,0.020,0.050388,0.980

Class Overlap. In some cases, you may want to merge classes in the top rows (below)
-----------------------------------------------------------------------------------

,Class Name A,Class Name B,Class Index A,Class Index B,Num Overlapping Examples,Joint Probability
0,0,1,0,1,50,0.007143
1,1,2,1,2,42,0.006000
2,2,3,2,3,37,0.005286
3,2,6,2,6,35,0.005000
4,0,2,0,2,34,0.004857
5,0,3,0,3,27,0.003857
6,4,6,4,6,26,0.003714
7,4,5,4,5,23,0.003286
8,0,4,0,4,23,0.003286
9,1,4,1,4,19,0.002714
10,1,6,1,6,13,0.001857
11,1,3,1,3,13,0.001857
12,2,4,2,4,12,0.001714
13,2,5,2,5,12,0.001714
14,1,5,1,5,10,0.001429
15,5,6,5,6,10,0.001429
16,3,4,3,4,9,0.001286
17,3,5,3,5,9,0.001286
18,0,5,0,5,8,0.001143
19,0,6,0,6,5,0.000714
20,3,6,3,6,4,0.000571

 * Overall, about 6% (421 of the 7,000) labels in your dataset have potential issues.
 ** The overall label health score for this dataset is: 0.94.

Generated with <3 from Cleanlab.

{'overall_label_health_score': 0.9398571428571428,
 'joint': array([[0.13542857, 0.00142857, 0.002     , 0.00157143, 0.00085714,
         0.001     , 0.00057143],
        [0.00571429, 0.13142857, 0.00214286, 0.00042857, 0.00071429,
         0.001     , 0.00142857],
        [0.00285714, 0.00385714, 0.127     , 0.00385714, 0.00071429,
         0.00128571, 0.00328571],
        [0.00228571, 0.00142857, 0.00142857, 0.13614286, 0.00057143,
         0.00085714, 0.00014286],
        [0.00242857, 0.002     , 0.001     , 0.00071429, 0.13271429,
         0.00228571, 0.00171429],
        [0.00014286, 0.00042857, 0.00042857, 0.00042857, 0.001     ,
         0.14      , 0.00042857],
        [0.00014286, 0.00042857, 0.00171429, 0.00042857, 0.002     ,
         0.001     , 0.13714286]]),
 'classes_by_label_quality':    Class Name  Class Index  Label Issues  Inverse Label Issues  Label Noise
 0           2            2           111                    61        0.111  \
 1           1            1            80                    67        0.080
 2           4            4            71                    41        0.071
 3           0            0            52                    95        0.052
 4           3            3            47                    52        0.047
 5           6            6            40                    53        0.040
 6           5            5            20                    52        0.020

    Inverse Label Noise  Label Quality Score
 0             0.064211                0.889
 1             0.067882                0.920
 2             0.042268                0.929
 3             0.091083                0.948
 4             0.051741                0.953
 5             0.052320                0.960
 6             0.050388                0.980  ,
 'overlapping_classes':     Class Name A  Class Name B  Class Index A  Class Index B
 0              0             1              0              1  \
 1              1             2              1              2
 2              2             3              2              3
 3              2             6              2              6
 4              0             2              0              2
 5              0             3              0              3
 6              4             6              4              6
 7              4             5              4              5
 8              0             4              0              4
 9              1             4              1              4
 10             1             6              1              6
 11             1             3              1              3
 12             2             4              2              4
 13             2             5              2              5
 14             1             5              1              5
 15             5             6              5              6
 16             3             4              3              4
 17             3             5              3              5
 18             0             5              0              5
 19             0             6              0              6
 20             3             6              3              6

     Num Overlapping Examples  Joint Probability
 0                         50           0.007143
 1                         42           0.006000
 2                         37           0.005286
 3                         35           0.005000
 4                         34           0.004857
 5                         27           0.003857
 6                         26           0.003714
 7                         23           0.003286
 8                         23           0.003286
 9                         19           0.002714
 10                        13           0.001857
 11                        13           0.001857
 12                        12           0.001714
 13                        12           0.001714
 14                        10           0.001429
 15                        10           0.001429
 16                         9           0.001286
 17                         9           0.001286
 18                         8           0.001143
 19                         5           0.000714
 20                         4           0.000571  }

In [6]:
ordered_label_issues = find_label_issues(
    labels=dataset_train['target'],
    pred_probs=probs_tensor.numpy(),
    return_indices_ranked_by='self_confidence',
)

head_issues=ordered_label_issues[:3]
for issue in head_issues:
    print('text', dataset_train.iloc[issue]['text'])
    print('label', dataset_train.iloc[issue]['target'])

text 北 매체 무더위에 전국 각지 물놀이장 초만원
label 3
text 대통령 개헌안 경제민주화 강화…국가의 노력 의무 신설속보
label 5
text 확대간부회의 참석하는 이해찬
label 5